<div class="row">
  <div class="col-10 mx-auto mt-2">
    <h1 class="text-center">Welcome to <span class="text-warning">The Tech Blog</span></h1>
    <h6 class="text-center">View {{#if logged_in}}and comment on{{/if}} recent postings by clicking on the cards below.
    </h6>
    {{#unless logged_in}}<h6 class="text-center"><a href="/login">Log in</a> to create and comment on posts!{{/unless}}
    </h6>
  </div>
</div>
<hr class="mt-0">

{{#each blogPostData as |blogPost|}}
<div class="container card">
  <div class="row p-1 my-auto" data-bs-toggle="collapse" data-bs-target="#blog{{blogPost.id}}Collapse"
    aria-expanded="false" aria-controls="blog{{blogPost.id}}Collapse">
    <h3 class="col-6 my-auto">{{blogPost.post_title}}</h3>
    <div class="col-6 d-flex flex-column">
      <p class="col-12 my-0 text-muted text-end">Posted {{format_date_time blogPost.createdAt}}</p>
      <p class="col-12 my-0 text-muted text-end">By {{blogPost.user.user_name}}</p>
    </div>
  </div>
  <div class="collapse" id="blog{{blogPost.id}}Collapse">
    <hr>
    <div class="col-12">
      <h6 class="card-subtitle mb-2 text-muted">Last Edited {{format_date_time blogPost.updatedAt}}</h6>
      <p class="card-text mt-0">{{blogPost.post_body}}
      </p>
      <hr class="mb-0">
      <div class="card-body mt-0">
        <div class="comments-section mt-3">
          <h4>Comments</h4>
          <div>
            {{#if ../logged_in}}
            <div class="input-group mb-2">
              <input type="text" class="form-control" id="new-comment-body-{{blogPost.id}}"
                placeholder="Type comment here..." aria-label="Comment" aria-describedby="basic-addon1">
              <button class="btn btn-warning submit-comment" id="{{blogPost.id}}">
                Leave Comment
              </button>
            </div>
            {{/if}}
            {{#each blogPost.comments as |comment|}}
            <div class="container" id="post-{{blogPost.id}}-comment-section">
              <div class="row">
                <div class="card my-3">
                  <small class="text-muted">On {{format_date_time comment.createdAt}}, {{comment.user.user_name}} said:
                  </small>
                  <p>{{comment.comment_body}}</p>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
{{/each}}
<script src="/js/homepage.js"></script>